<template>
    <div class="card" @click="show">
        <div class="card-image">
            <figure class="image is-4by3">
                <img :src="banner" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                        <img :src="thumbnail" alt="Placeholder image">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">{{ author }}</p>
                    <p class="subtitle is-6">@johnsmith</p>
                </div>
            </div>

            <div class="content">
                <slot></slot>
                <a href="#">#css</a> <a href="#">#responsive</a>
                <br>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Card',
        mounted() {
        },
        props: ['id', 'author', 'authorEmail', 'timeStamp', 'thumbnail', 'banner'],
        methods: {
            show(){
                this.$router.push('contracts/'+ this.id);
            }
        }
    }
</script>

<style>
    .VueCarousel-slide {
        padding: 0 10px;
    }
    .card{
        height: 100%;
    }
</style>