<template>
    <footer>
        <nav class="footer-nav level">
            <!--<div class="level-item has-text-centered">-->
                <!--<div>-->
                    <!--<p class="title">Corporate Office</p>-->
                <!--</div>-->
            <!--</div>-->
            <div class="level-item has-text-centered">
                <div>
                    <p class="title">Be In Touch</p>
                    <ul class="social-buttons">
                        <!--<li><a href="#" class="fa fa-facebook-square"></a></li>-->
                        <li><a href="https://twitter.com/smartcontractb1" class="fa fa-twitter-square"></a></li>
                        <!--<li><a href="#" class="fa fa-google-plus-square"></a></li>-->
                        <li><a href="https://www.youtube.com/channel/UClBZTCOrdtljWHJwUL0EQqw?view_as=subscriber" class="fa fa-youtube-play"></a></li>
                        <!--<li><a href="#" class="fa fa-instagram"></a></li>-->
                    </ul>
                </div>
            </div>
            <!--<div class="level-item has-text-centered">-->
                <!--<div>-->
                    <!--<p class="title">Information</p>-->
                <!--</div>-->
            <!--</div>-->
        </nav>
    </footer>
</template>

<script>

    export default {
        name: "foot",

        data() {
            return {
            }
        },
        created() {
        },
        methods: {

        }
    }
</script>

<style>
    footer {
        margin-top: 100px;
        background: #ccc;
        padding: 50px 0;
    }

    nav.footer-nav.level > div {
        align-self: self-start;
    }

    ul.social-buttons li {
        display: inline;
    }

    ul.social-buttons {
        margin-top: 20px;
    }

    ul.social-buttons a {
        font-size: 2.5em;
        padding: 5px;
        transition: all 0.2s ease-in-out;
    }

    ul.social-buttons a.fa-facebook-square {
        color: #4267b2;
    }

    ul.social-buttons a.fa-twitter-square {
        color: #1DA1F2;
    }

    ul.social-buttons a.fa-google-plus-square {
        color: #DD4F43;
    }

    ul.social-buttons a.fa-instagram {
        color: #5556CD;
    }

    ul.social-buttons a.fa-youtube-play{
        color: #FF0000;
    }

</style>