<template>

    <div>
        <h2 class="title is-2">Contracts</h2>

        <div class="columns is-multiline">

            <div class="column is-3" v-for="contract in contracts" v-bind:key="contract.id">

                <card :author="contract.author.name"
                      :thumbnail="contract.thumbnail"
                      :banner="contract.banner"
                      :id="contract.id">
                    {{ contract.description | truncate(100) }}
                </card>

            </div>

        </div>

        <div class="columns" v-if="showMore">

            <div class="column has-text-centered">
                <button class="button is-primary" :class="{'is-loading': isLoading}" @click="loadMore">Load More Contracts</button>
            </div>

        </div>

    </div>

</template>

<script>
    import card from '../components/CardComponent';
    import contractService from '../services/contractService';

    Vue.component('card', card);

    export default {

        data() {
            return {
                contracts: [],
                showMore: true,
                currentPage : 0,
                totalRecords: 0,
                limit: 12,
                totalPages: 0,
                isLoading: true
            }
        },

        computed: {
        },

        mounted() {
            this.loadMore();
        },

        methods: {
            loadMore(){
                this.currentPage += 1;
                this.isLoading = true;
                contractService.get(this.currentPage).then(res => this.loadMoreHandler(res.data) );
            },

            loadMoreHandler(response){
                response.data.forEach(item => this.contracts.push(item));

                this.totalPages = response.paginater.total_pages;
                this.totalRecords = response.paginater.total_count;
                this.limit = response.paginater.limit;

                this.showMore = this.currentPage < this.totalPages;
                this.isLoading = false;
            },

            show(contract){
                // console.log(this.$router.currentRoute);
                this.$router.push({
                    name: '/contractShow',
                    params: { id: contract.id }
                })
            }
        }
    }
</script>
