<template>

    <div v-if="contract">
        <h2 class="title has-text-centered">Contract {{ contract.id }}</h2>

        <div class="columns">

            <div class="column is-6">

                <h2 class="title">Contract Thumbnails</h2>
                <figure class="image is-1by1 contract-thumbnail">
                    <img :src="contract.banner" :alt="contract.name" width="300">
                </figure>

                <h2 class="title">Contract Description</h2>
                <div class="box content">
                    <p>{{ contract.description }}</p>
                </div>

                <table class="table">
                    <tbody>
                        <tr>
                            <th>Contract Author</th>
                            <td>{{ contract.name }}</td>
                        </tr>
                        <tr>
                            <th>Contract Download Count</th>
                            <td>{{ contract.download }}</td>
                        </tr>
                        <tr>
                            <th>Contract Rating</th>
                            <td>
                                <fieldset class="field-rating">
                                    <input type="radio" id="star5"name="rating" v-model="rating" @change="rated" value="5"/>
                                    <label class="full-rate" for="star5"></label>
                                    <input type="radio" id="star4half" name="rating" v-model="rating" @change="rated" value="4.5"/>
                                    <label class="half-rate" for="star4half"></label>
                                    <input type="radio" id="star4" name="rating" v-model="rating" @change="rated" value="4"/>
                                    <label class="full-rate" for="star4"></label>
                                    <input type="radio" id="star3half" name="rating" v-model="rating" @change="rated" value="3.5"/>
                                    <label class="half-rate" for="star3half"></label>
                                    <input type="radio" id="star3" name="rating" v-model="rating" @change="rated" value="3"/>
                                    <label class="full-rate" for="star3"></label>
                                    <input type="radio" id="star2half" name="rating" v-model="rating" @change="rated" value="2.5"/>
                                    <label class="half-rate" for="star2half"></label>
                                    <input type="radio" id="star2" name="rating" v-model="rating" @change="rated" value="2"/>
                                    <label class="full-rate" for="star2"></label>
                                    <input type="radio" id="star1half" name="rating" v-model="rating" @change="rated" value="1.5"/>
                                    <label class="half-rate" for="star1half"></label>
                                    <input type="radio" id="star1" name="rating" v-model="rating" @change="rated" value="1"/>
                                    <label class="full-rate" for="star1"></label>
                                    <input type="radio" id="starhalf" name="rating" v-model="rating" @change="rated" value="0.5"/>
                                    <label class="half-rate" for="starhalf"></label>
                                </fieldset>

                                ({{ contract.rating.avg_score }})
                            </td>
                        </tr>
                        <tr>
                            <th>Contract Uploaded On</th>
                            <td>{{ contract.created_at }}</td>
                        </tr>
                        <tr>
                            <th>Contract Price</th>
                            <td>{{ contract.price }}</td>
                        </tr>
                        <tr>
                            <th>Contract Language</th>
                            <td>{{ contract.programmingLanguage }}</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

        <div class="columns">

            <div class="column has-text-centered">
                <button class="button is-info" v-if="user && contract.owner.id == user.id" @click="edit">Edit</button>
                <button class="button is-primary" v-if="isAuthenticated" :class="{'is-loading': isDownloading}" @click="download">Download</button>
                <button class="button is-primary" v-if="!isAuthenticated" @click="login">Please login to download</button>
            </div>

        </div>

        <simplert :useRadius="true"
                  :useIcon="true"
                  ref="simplert">
        </simplert>

    </div>

</template>

<script>
    import card from '../components/CardComponent';
    import Simplert from 'vue2-simplert';
    import contractService from '../services/contractService';
    import { mapGetters } from 'vuex';
    require('vue2-simplert/dist/simplert.common.css');

    Vue.component('card', card);

    export default {

        components: {
            Simplert
        },

        data() {
            return {
                contract:null,
                id: this.$route.params.id,
                editing: this.$route.params.edit,
                isDownloading: false,
            }
        },

        computed: {
            rating: {
                get(){
                    this.contract.rating.currentRating = this.contract.rating.avg_score;
                    return Math.round(this.contract.rating.avg_score*2)/2;
                },
                set(value){
                    this.contract.rating.currentRating = value;
                }
            },

            ...mapGetters(['user', 'isAuthenticated'])
        },

        mounted() {
            contractService.getById(this.id).then(response => this.contract = response);
        },

        methods: {
            download(){
                this.isDownloading = true;
                contractService.download(this.contract)
                    .then(data => {
                        this.isDownloading = false;
                        this.contract.download += 1;

                        let obj = {
                            title: 'Successfully',
                            message: 'Your Contract has been downloaded successfully!',
                            type: 'success',
                        };

                        this.$refs.simplert.openSimplert(obj);
                    });
            },
            rated(){
                this.$http.post('contracts/' +  this.id + '/rate', {'rating' : this.contract.rating.currentRating})
                    .then(r => {})
                    .catch( e => {
                        if(e.response.statusText === "Unauthorized")
                        {
                            this.rating = this.contract.rating.avg_score;
                            let obj = {
                                title: 'Sorry',
                                message: 'Please login for giving your rate on this contract.',
                                type: 'error',
                                disableOverlayClick: true,
                                onConfirm: () => { this.$router.push('/login') },
                                useConfirmBtn: true,
                                customConfirmBtnText: 'Login me in'
                            };
                            this.$refs.simplert.openSimplert(obj);
                        }
                    });
            },
            edit(){
                this.$router.push(this.id + "/edit");
            },
            login(){
                this.$router.push({ name: 'login'});
            }
        }
    }
</script>


<style>

    .contract-thumbnail img{
        min-width: 300px;
    }
    .table th,.table td{
        vertical-align: middle;
    }

    .field-rating {
        display: block;
        border: none;
        float: left;
        padding: 0;
        margin: 0;
    }
    .field-rating > input {
        display: none;
    }
    .field-rating > label:before {
        margin: 5px;
        font-size: 2em;
        font-family: FontAwesome;
        display: inline-block;
        content: "";
    }
    .field-rating > .half-rate:before {
        content: "";
        position: absolute;
    }
    .field-rating > label {
        color: #C7C7C7;
        float: right;
        cursor: pointer;
    }
    .field-rating > input:checked ~ label, .field-rating:not(:checked) > label:hover, .field-rating:not(:checked) > label:hover ~ label {
        color: orange;
    }
    .field-rating > input:checked + label:hover, .field-rating > input:checked ~ label:hover, .field-rating > label:hover ~ input:checked ~ label, .field-rating > input:checked ~ label:hover ~ label {
        color: #ffdb99;
    }


</style>