<template>

    <div>
        <!--<carousel :perPage="1" :scrollPerPage="false" :navigationEnabled="true"-->
                  <!--navigationNextLabel="<i class='fa fa-chevron-right' aria-hidden='true'></i>"-->
                  <!--navigationPrevLabel="<i class='fa fa-chevron-left' aria-hidden='true'></i>"-->
                  <!--:paginationEnabled="false">-->
            <!--<slide v-for="slide in slides" class="home-slide" :key="slide.alt" :style="{'background-image': 'url('+ slide.imagePath +')'}">-->
                <!--<img :src="slide.imagePath" alt="slide.alt">-->
            <!--</slide>-->
        <!--</carousel>-->

        <div id="homeBanner" style="background-image: url('images/blockchain-3448502_640.jpg')">
            <div class="container">
                <div class="has-text-centered">
                    <h1 class="title">Buy and sell smart contracts for any blockchain</h1>
                    <div>
                        <router-link to="/login" class="button is-primary">Sign in</router-link>
                        <router-link to="/signup" class="button is-info">Register</router-link>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="title is-2">Top Rated Contracts</h2>
        <carousel :perPage="4" :scrollPerPage="false" :navigationEnabled="true"
                  navigationNextLabel="<i class='fa fa-chevron-right' aria-hidden='true'></i>"
                  navigationPrevLabel="<i class='fa fa-chevron-left' aria-hidden='true'></i>"
                  :paginationEnabled="false">
            <slide v-for="contract in topRatedContracts" :key="contract.id">
                <card :author="contract.author.name"
                      :thumbnail="contract.thumbnail"
                      :banner="contract.banner"
                      :id="contract.id">
                    {{ contract.description | truncate(250) }}
                </card>
            </slide>
        </carousel>

        <h2 class="title is-2">Top Free Contracts</h2>
        <carousel :perPage="4" :scrollPerPage="false" :navigationEnabled="true"
                  navigationNextLabel="<i class='fa fa-chevron-right' aria-hidden='true'></i>"
                  navigationPrevLabel="<i class='fa fa-chevron-left' aria-hidden='true'></i>"
                  :paginationEnabled="false">
            <slide v-for="contract in freeContracts" :key="contract.id">
                <card :author="contract.author.name"
                      :thumbnail="contract.thumbnail"
                      :banner="contract.banner"
                      :id="contract.id">
                    {{ contract.description | truncate(250) }}
                </card>
            </slide>
        </carousel>

        <div class="columns">

            <div class="column has-text-centered">
                <button class="button is-primary" @click="$router.push('/contracts')">View All Contracts</button>
            </div>

        </div>

    </div>

</template>

<script>
    import card from '../components/CardComponent';
    import { Carousel, Slide } from 'vue-carousel';
    // Vue.use(VueCarousel);

    Vue.component('card', card);

    export default {

        components: {
            Carousel,
            Slide
        },

        data() {
            return {
                contracts: [],
                slides: [
                    { "imagePath": "images/slide1.jpg", "alt": "Slider Image 1" },
                    { "imagePath": "images/slide2.jpg", "alt": "Slider Image 2" },
                    { "imagePath": "images/slide3.jpg", "alt": "Slider Image 3" },
                ]
            }
        },

        computed: {
            freeContracts(){
                return this.contracts.filter(contract => contract.is_free);
            },
            topRatedContracts(){
                return this.contracts.filter(contract => contract.rating.avg_score >= 4);
            }
        },

        mounted() {
            this.$http.get('contracts').then(res => this.contracts = res.data.data )
        },
    }
</script>

<style>
    .VueCarousel-slide {
        padding: 0 10px;
        margin-bottom: 5px;
    }
    .VueCarousel {
        position: relative;
        margin-bottom: 65px;
    }
    .home-slide img {
        visibility: hidden;
    }

    .home-slide {
        max-height: 400px;
        min-height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
    }
    #homeBanner {
        background: lightblue center center /cover no-repeat;
        min-height: 350px;
        padding: 100px 0;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        box-shadow: 0px 25px 30px -25px #000;
    }
    #homeBanner>div {
        display: flex;
        justify-content: center;
    }
    #homeBanner>div>div {
        display: flex;
        flex-direction:column
    }

    #homeBanner .title {
        color: white;
        font-size: 3em;
        max-width: 75%;
        margin: auto;
        margin-bottom: 40px;
    }

    #homeBanner .button {
        font-size: 1.4em;
        font-weight: bold;
    }
</style>