<template>

    <form class="columns" @submit.prevent="login" novalidate>

        <div class="column is-offset-one-quarter is-half">

            <div class="notification is-danger" v-if="errors.wrongCredentials">
                <button class="delete" type="button" @click="errors.wrongCredentials = false"></button>
                Invalid Credentials
            </div>

            <div class="field">
                        <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" :class="{'is-danger' : errors.email}" v-model="credentials.email" type="email" placeholder="Email">
                    <span class="icon is-small is-left">
                      <i class="fa fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                      <i class="fa fa-times" v-if="errors.email"></i>
                    </span>
                </div>
                <p class="help is-danger" v-if="errors.email">{{ errors.email[0] }}</p>
            </div>

            <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" :class="{'is-danger' : errors.password}" v-model="credentials.password" type="password" placeholder="Password">
                    <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                    </span>
                    <span class="icon is-small is-right">
                      <i class="fa fa-times" v-if="errors.password"></i>
                    </span>
                </div>
                <p class="help is-danger" v-if="errors.password">{{ errors.password[0] }}</p>
            </div>

            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox">
                        Remember me
                    </label>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" :class="{'is-loading':isLoading}">Login</button>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data() {
            return {
                credentials: {
                    email: '',
                    password: ''
                },
                errors: {
                    email: false,
                    password: false,
                    wrongCredentials: false
                },
                isLoading: false
            }
        },
        methods:{
            login(){
                this.isLoading = true;
                this.errors.wrongCredentials = false;

                this.$store.dispatch('login', this.credentials)
                    .then((res) => {
                        this.$http.defaults.headers.common['Authorization'] = "Bearer " + res.token;
                        this.credentials = { email: '', password: ''}
                        this.$router.push('/');
                    });

                // this.$http.post('/api/login', this.details)
                //     .then(res => {
                //
                //         Event.$emit('loggedin', res.data.user);
                //         this.$router.push('/');
                //     })
                //     .catch(error=>{
                //         this.isLoading = false;
                //         if (error.response.data.errors) {
                //             this.errors = error.response.data.errors;
                //             this.errors.wrongCredentials = false;
                //         }
                //         if(error.response.data.error === "invalid.credentials")
                //         {
                //             this.errors.wrongCredentials = true;
                //         }
                //     });
            }
        }
    }
</script>
