<template>
</template>

<script>
    import { mapActions } from 'vuex';
    export default {
        mounted() {
            this.$store.dispatch('logout');
            this.$router.push('/');
        }
    }
</script>
