<template>
    <div v-if="user">
        <section class="hero is-link">
            <div class="hero-body">
                <div class="">
                    <h1 class="title">
                        {{ user.first_name }} {{ user.last_name }}
                    </h1>
                    <h2 class="subtitle">

                    </h2>
                </div>
                <div class="dp">
                    <label for="dp">
                        <img :src="user.dp" :alt="user.name">
                    </label>
                    <input type="file" @change="uploadProfile($event)" id="dp">
                </div>
            </div>
        </section>

        <div class="columns is-offset-one-quarter is-half profile">
            <div class="column is-3">
                <div class="tabs">
                    <ul>
                        <li v-bind:class="{ 'is-active': selectedTab == 'info' }" @click="selectedTab = 'info'"><a>Basic Information</a></li>
                        <li v-bind:class="{ 'is-active': selectedTab == 'contracts' }" @click="selectedTab = 'contracts'"><a>My Contracts</a></li>
                        <li v-bind:class="{ 'is-active': selectedTab == 'settings' }" @click="selectedTab = 'settings'"><a>Account Settings</a></li>
                        <li v-bind:class="{ 'is-active': selectedTab == 'password' }" @click="selectedTab = 'password'"><a>Change Password</a></li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <div v-show="selectedTab == 'info'">
                        <div class="column">



<!--<div class="field">-->
    <!--<label class="label">Additional Comments</label>-->
    <!--<div class="control has-icons-left has-icons-right">-->
        <!--<input class="input" :class="{'is-danger': errors.comments}" v-model="details.comments" type="text" placeholder="Additional Comments">-->
        <!--<span class="icon is-small is-left">-->
            <!--<i class="fa fa-pencil-square-o" aria-hidden="true"></i>-->
        <!--</span>-->
        <!--<span class="icon is-small is-right" v-if="errors.comments">-->
            <!--<i class="fa fa-times"></i>-->
        <!--</span>-->
    <!--</div>-->
    <!--<p class="help is-danger" v-if="errors.comments">{{ errors.comments[0] }}</p>-->
<!--</div>-->

                            <div class="field">
                                <label class="label">First name</label>
                                <div class="control">
                                    <input class="input" :class="{'is-danger': errors.first_name}" v-model="user.first_name" type="text" placeholder="First Name">
                                </div>
                                <p class="help is-danger" v-if="errors.first_name">This First name is invalid</p>
                            </div>

                            <div class="field">
                                <label class="label">Last name</label>
                                <div class="control">
                                    <input class="input" :class="{'is-danger': errors.last_name}" v-model="user.last_name" type="text" placeholder="Last Name">
                                </div>
                                <p class="help is-danger" v-if="errors.last_name">This Last name is invalid</p>
                            </div>

                            <div class="field">
                                <label class="label">Email</label>
                                <div class="control">
                                    <input class="input" :class="{'is-danger': errors.email}" v-model="user.email" type="email" placeholder="Email">
                                </div>
                                <p class="help is-danger" v-if="errors.email">{{ errors.email[0] }}</p>
                            </div>

                            <div class="field">
                                <label class="label">Public Address</label>
                                <div class="control">
                                    <textarea v-model="user.public_address" class="textarea" cols="30" rows="2" placeholder="Public Address"></textarea>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" v-model="user.gender" value="male">
                                        Male
                                    </label>
                                    <label class="radio">
                                        <input type="radio" v-model="user.gender" value="female">
                                        Male
                                    </label>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">City</label>
                                <div class="control">
                                    <input v-model="user.city" class="input" placeholder="City" />
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Country</label>
                                <div class="control">
                                    <input v-model="user.country" class="input" placeholder="Country" />
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">About me</label>
                                <div class="control">
                                    <textarea v-model="user.about" class="textarea" cols="30" rows="5" placeholder="About me"></textarea>
                                </div>
                            </div>

                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-link" @click.prevent="saveBasicInformation">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div v-show="selectedTab == 'contracts'">

                        <div class="columns is-multiline" v-if="contracts.length == 0">
                            <h1 class="title is-2">You don't have any contracts</h1>
                        </div>

                        <div class="columns is-multiline" v-if="contracts.length > 0">
                            <div class="column is-4" v-for="contract in contracts" v-bind:key="contract.id">

                                <card :author="contract.author.name"
                                      :thumbnail="contract.thumbnail"
                                      :banner="contract.banner"
                                      :id="contract.id">
                                    {{ contract.description | truncate(100) }}
                                </card>

                            </div>
                        </div>

                        <div class="columns" v-if="showMore && contracts.length > 0">
                            <div class="column has-text-centered">
                                <button class="button is-primary" :class="{'is-loading': isLoading}" @click="loadContractsMore">Load More Contracts</button>
                            </div>
                        </div>

                    </div>

                    <div v-show="selectedTab == 'settings'">settings</div>

                    <div v-show="selectedTab == 'password'">password</div>

                </div>
            </div>
        </div>

        <simplert :useRadius="true" :useIcon="true" ref="simplert"></simplert>

    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    import Simplert from 'vue2-simplert';

    export default {
        components: {
            Simplert
        },
        data() {
            return {
                selectedTab: "info",
                contracts: [],
                showMore: true,
                currentPage : 0,
                totalRecords: 0,
                limit: 12,
                totalPages: 0,
                isLoading: true,
                errors: {
                    first_name: false,
                    last_name: false,
                    email: false
                }
            }
        },

        created() {
            this.loadContractsMore();
        },

        computed:{
            ...mapGetters(['isAuthenticated', 'user'])
        },

        methods: {
            uploadProfile($event){
                // this.dp = $event.target.files[0];
                let pictureData = new FormData();
                pictureData.append('dp', $event.target.files[0]);

                let config = {
                    onUploadProgress: progressEvent => {
                        let percentCompleted = Math.floor((progressEvent.loaded * 100) / progressEvent.total);
                    },
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                };

                this.$http.post( 'user/upload-dp', pictureData, config)
                    .then(response => {
                        this.user.dp = response.data;
                    })
                    .catch(e => console.log('Uploading Error'));
            },

            saveBasicInformation(){
                this.$http.put('profile', this.user).then( res => {
                    this.errors = { first_name: false, last_name: false, email: false };
                    let obj = { title: 'Successfully', message: 'Changes saved successfully', type: 'success' };
                    this.$refs.simplert.openSimplert(obj);
                }).catch(error => { this.errors = error.response.data.errors });
            },

            loadContractsMore(){
                this.currentPage += 1;
                this.isLoading = true;
                this.$http.get('contracts/my?page='+this.currentPage).then(res => this.loadContractsMoreHandler(res.data) );
            },

            loadContractsMoreHandler(response){
                response.data.forEach(item => this.contracts.push(item));

                this.totalPages = response.paginater.total_pages;
                this.totalRecords = response.paginater.total_count;
                this.limit = response.paginater.limit;

                this.showMore = this.currentPage < this.totalPages;
                this.isLoading = false;
            }
        }
    }
</script>
<style>
    .tabs ul {
        flex-direction: column;
    }
    .tabs li {
        display: block;
        width: 100%;
    }
    .tabs li a {
        display: block;
        width: 100%;
    }
    label[for=dp] {
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        width: 150px;
        height: 150px;
        margin: 60px 0 0;
        justify-content: center;
        align-items: center;
        align-self: center;
        text-align: center;
        box-shadow: 0px 5px 20px -5px #000;
        border: 2px solid white;
    }
    label[for=dp] img {
        vertical-align: middle;
        text-align: center;
    }

    label[for=dp]+input[type=file] {
        display: none;
    }
    .profile {
        margin-top: 25px;
    }
    .profile .content figure {
        margin-left: 0;
        margin-right: 0;
    }
</style>