<template>
    <div>


        <div class="columns is-offset-one-quarter is-half profile">

            <div class="column">
                <div class="content">
                    <div class="column">

                        <div class="field">
                            <label class="label">First name</label>
                            <div class="control">
                                <input class="input" :class="{'is-danger': errors.first_name}" v-model="user.first_name" type="text" placeholder="First Name">
                            </div>
                            <p class="help is-danger" v-if="errors.first_name">This First name is invalid</p>
                        </div>

                        <div class="field">
                            <label class="label">Last name</label>
                            <div class="control">
                                <input class="input" :class="{'is-danger': errors.last_name}" v-model="user.last_name" type="text" placeholder="Last Name">
                            </div>
                            <p class="help is-danger" v-if="errors.last_name">This Last name is invalid</p>
                        </div>

                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <input class="input" :class="{'is-danger': errors.email}" v-model="user.email" type="email" placeholder="Email">
                            </div>
                            <p class="help is-danger" v-if="errors.email">{{ errors.email[0] }}</p>
                        </div>

                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control">
                                <input v-model="user.password" class="input" :class="{'is-danger': errors.password}" placeholder="Password" />
                            </div>
                            <p class="help is-danger" v-if="errors.password">{{ errors.password[0] }}</p>
                        </div>

                        <div class="field">
                            <label class="label">Confirm Password</label>
                            <div class="control">
                                <input v-model="user.password_confirmation" class="input" :class="{'is-danger': errors.password_confirmation}" placeholder="Password" />
                            </div>
                            <p class="help is-danger" v-if="errors.password_confirmation">{{ errors.password_confirmation[0] }}</p>
                        </div>

                        <div class="field">
                            <label class="label">Public Address</label>
                            <div class="control">
                                <textarea v-model="user.public_address" class="textarea" cols="30" rows="2" placeholder="Public Address"></textarea>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" v-model="user.gender" value="male">
                                    Male
                                </label>
                                <label class="radio">
                                    <input type="radio" v-model="user.gender" value="female">
                                    Male
                                </label>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">City</label>
                            <div class="control">
                                <input v-model="user.city" class="input" :class="{'is-danger': errors.city}" placeholder="City" />
                            </div>
                            <p class="help is-danger" v-if="errors.city">{{ errors.city[0] }}</p>
                        </div>

                        <div class="field">
                            <label class="label">Country</label>
                            <div class="control">
                                <input v-model="user.country" class="input" :class="{'is-danger': errors.country}" placeholder="Country" />
                            </div>
                            <p class="help is-danger" v-if="errors.country">{{ errors.country[0] }}</p>
                        </div>

                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link" @click.prevent="saveBasicInformation">Save</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <simplert :useRadius="true" :useIcon="true" ref="simplert"></simplert>

    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    import Simplert from 'vue2-simplert';

    export default {
        components: {
            Simplert
        },
        data() {
            return {
                user: {
                    first_name: 'Syed Arif',
                    last_name: 'Iqbal',
                    email: 'hdarif2@gmail.com',
                    password: 'arifiqbal',
                    password_confirmation:'',
                    gender: 'male',
                    city: 'Karachi',
                    country: 'Pakistan',
                },
                errors: {
                    first_name: '',
                    last_name: '',
                    email: '',
                    password: '',
                    gender: 'male',
                    city: '',
                    country: '',
                },
                isLoading: true
            }
        },

        created() {
            if (this.isAuthenticated)
                this.$router.push('/');
        },

        computed:{
            ...mapGetters(['isAuthenticated'])
        },

        methods: {
            saveBasicInformation(){
                this.$http.post('signup', this.user).then( response => {
                    this.errors = { first_name: false, last_name: false, email: false };
                    console.log(response.data);
                    let obj = {
                        title: 'Successfully',
                        disableOverlayClick: true,
                        onClose: () => { this.$router.push('/login') },
                        customCloseBtnText: 'Sign in',
                        message: 'Thank you for your Registration Please login by clicking the link below', type: 'success'
                    };
                    this.$refs.simplert.openSimplert(obj);
                }).catch(error => {
                    this.errors = error.response.data.errors
                    let obj = { title: 'Error', message: 'Please make sure you provide valid required data', type: 'error' };
                    this.$refs.simplert.openSimplert(obj);
                });
            }
        }
    }
</script>
<style>
    .tabs ul {
        flex-direction: column;
    }
    .tabs li {
        display: block;
        width: 100%;
    }
    .tabs li a {
        display: block;
        width: 100%;
    }
    label[for=dp] {
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        width: 150px;
        height: 150px;
        margin: 60px 0 0;
        justify-content: center;
        align-items: center;
        align-self: center;
        text-align: center;
        box-shadow: 0px 5px 20px -5px #000;
        border: 2px solid white;
    }
    label[for=dp] img {
        vertical-align: middle;
        text-align: center;
    }

    label[for=dp]+input[type=file] {
        display: none;
    }
    .profile {
        margin-top: 25px;
    }
    .profile .content figure {
        margin-left: 0;
        margin-right: 0;
    }
</style>