<template>
    <form class="columns" @submit.prevent="save">

        <div class="column is-offset-one-quarter is-half">

            <h1 class="title has-text-centered">Upload your contract</h1>

            <div class="field">
                <div class="control">
                    <div class="input upload-contract" :class="{'is-danger': errors.fileIds}">
                        <label for="upload-contract">Upload your contract</label>
                        <input class="input" @change="fileChange($event)" type="file" multiple id="upload-contract">

                        <nav class="panel" v-if="details.files">
                            <progress v-if="isUploading && uploadingPercentage > 0" class="progress is-primary" :value="uploadingPercentage" max="100" min="0"></progress>
                            <p class="panel-heading">
                                <span v-if="isUploading">Uploading Files <span class="button is-loading"></span></span>
                                <span v-if="!isUploading">Uploaded Files</span>
                            </p>
                            <a class="panel-block" v-for="file in details.files">
                            <span class="panel-icon" @click="deleteAttachment(file)">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </span>
                                {{ file.filename }}
                            </a>
                        </nav>

                    </div>
                    <p class="help is-danger" v-if="errors.fileIds">The files is required.</p>

                </div>

            </div>

            <div class="field">
                <label class="label">Contract Name</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" :class="{'is-danger': errors.name}" v-model="details.name" type="text" placeholder="Contract Name">
                    <span class="icon is-small is-left">
                        <i class="fa fa-book"></i>
                    </span>
                    <span class="icon is-small is-right" v-if="errors.name">
                        <i class="fa fa-times"></i>
                    </span>
                </div>
                <p class="help is-danger" v-if="errors.name">{{ errors.name[0] }}</p>
            </div>

            <div class="field">
                <label class="label">Contract Description</label>
                <div class="control">
                    <textarea class="textarea" :class="{'is-danger': errors.description}" v-model="details.description"  placeholder="Description"></textarea>
                </div>
                <p class="help is-danger" v-if="errors.description">{{ errors.description[0] }}</p>
            </div>

            <div class="field">
                <label class="label">Contract Author</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" :class="{'is-danger': errors.author}" v-model="details.author" type="text" placeholder="Contract Author">
                    <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                    </span>
                    <span class="icon is-small is-right" v-if="errors.author">
                        <i class="fa fa-times"></i>
                    </span>
                </div>
                <p class="help is-danger" v-if="errors.author">{{ errors.author[0] }}</p>
            </div>

            <div class="field">
                <label class="label">Contract Platform</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" :class="{'is-danger': errors.platform}" v-model="details.platform" type="text" placeholder="Contract Platform">
                    <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                    </span>
                    <span class="icon is-small is-right" v-if="errors.platform">
                        <i class="fa fa-times"></i>
                    </span>
                </div>
                <p class="help is-danger" v-if="errors.platform">{{ errors.platform[0] }}</p>
            </div>

            <div class="field">
                <label class="label">Contract Coding Language</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" :class="{'is-danger': errors.programmingLanguage}" v-model="details.programmingLanguage" type="text" placeholder="Contract Coding Language">
                    <span class="icon is-small is-left">
                        <i class="fa fa-language" aria-hidden="true"></i>
                    </span>
                    <span class="icon is-small is-right" v-if="errors.programmingLanguage">
                        <i class="fa fa-times"></i>
                    </span>
                </div>
                <p class="help is-danger" v-if="errors.programmingLanguage">{{ errors.programmingLanguage[0] }}</p>
            </div>

            <div class="field">
                <label class="label">Additional Comments</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" :class="{'is-danger': errors.comments}" v-model="details.comments" type="text" placeholder="Additional Comments">
                    <span class="icon is-small is-left">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </span>
                    <span class="icon is-small is-right" v-if="errors.comments">
                        <i class="fa fa-times"></i>
                    </span>
                </div>
                <p class="help is-danger" v-if="errors.comments">{{ errors.comments[0] }}</p>
            </div>

            <div class="field">
                <label for="thumbnails">
                    <i class="fa fa-file-image-o" :class="{ 'fa-spin': isThumbnailUploading }" v-show="!details.banner" aria-hidden="true"></i>
                    <img :src="details.banner" v-show="details.banner">
                    <input type="file" name="thumbnail" id="thumbnails" @change="uploadThumbnails($event)">
                </label>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Save</button>
                </div>
            </div>
        </div>

        <simplert :useRadius="true"
                  :useIcon="true"
                  ref="simplert">
        </simplert>

    </form>

</template>

<script>

    import Simplert from 'vue2-simplert'
    require('vue2-simplert/dist/simplert.common.css');

    export default {

        components: {
            Simplert
        },

        data(){
            return {
                details: {
                    fileIds: [],
                },
                // ethereum, rsk, definty, qtum (should be dropdown)
                uploadedFiles: [],

                id: this.$route.params.id,

                isUploading: false,

                uploadingPercentage: 0,

                isThumbnailUploading: false,

                thumbnailUploadingPercentage: 0,

                errors: {
                    name: null,
                    author: null,
                    description: null,
                    platform: null,
                    language: null,
                    fileIds: null,
                }

            }
        },
        mounted() {
            if (this.id) {

                this.$http.get('contracts/'+this.id)
                    .then(res => {
                        this.uploadedhFiles = res.data.contract.files.map(function(f){
                            return f.filename;
                        });
                        this.details = res.data.contract;
                        this.details.fileIds = this.details.files.map(file => file.id );
                    });
            }
        },
        methods:{
            fileChange($event){
                let config = {
                    onUploadProgress: progress => { this.uploadingPercentage = Math.floor((progress.loaded * 100) / progress.total); },
                    headers: { 'Content-Type': 'multipart/form-data' }
                };

                for(let key in $event.target.files)
                {
                    if ($event.target.files.hasOwnProperty(key)) {
                        let file = $event.target.files[key];
                        if (file.type === "text/plain")
                        {
                            this.isUploading = true;
                            this.uploadingPercentage = 0;
                            // this.uploadedFiles.push(file);
                            let fileData = new FormData();
                            fileData.append('file', file);
                            let contractId = this.id? this.id : '';
                            this.$http.post('contract_uploads/' + contractId, fileData, config)
                                .then(r => {
                                    // console.log(r.data);
                                    this.details.files.push( r.data.data );
                                    // this.uploadedFiles[key].filename = r.data.file_name;
                                    // this.details.fileIds.push(r.data.file_id);
                                    this.isUploading = false;
                                });
                        }
                        else
                        {
                            alert(file.name + ' is not supported file to upload');
                        }
                    }
                }

            }, // fileChanceOrUploadFiles Methods

            uploadThumbnails($event){
                let config = {
                    headers: { 'Content-Type': 'multipart/form-data' }
                };

                this.isThumbnailUploading = true;
                let thumbnail = new FormData();
                thumbnail.append('thumbnail', $event.target.files[0]);
                this.$http.post('contract_thumbnail', thumbnail, config)
                    .then(r => {
                        this.details.banner = r.data;
                        this.isThumbnailUploading = false;
                    });

            },

            save(){
                this.details.files.forEach(file => this.details.fileIds.push(file.id) );
                let contractId = this.id? this.id:'';
                this.$http[this.id? "put": "post"]('contracts/'+contractId, this.details)
                    .then( r => {
                        let obj = {
                            title: 'Success',
                            message: 'Your contract is saved go to contracts page by clicking given button below',
                            type: 'success',
                            disableOverlayClick: true,
                            onConfirm: () => { this.$router.push('/contracts') },
                            useConfirmBtn: true,
                            customConfirmBtnText: 'Go to contracts page'
                        };
                        this.$refs.simplert.openSimplert(obj);
                    })
                    .catch( e => this.errors = e.response.data.errors )
            },

            deleteAttachment(file){
                this.isUploading = true;
                this.$http.delete('delete_file',{params: { 'id': file.id }})
                    .then( response =>{
                        let index = this.uploadedFiles.indexOf(file);
                        if (index > -1) {
                            this.uploadedFiles.splice(index, 1);
                        }
                        let index1 = this.details.files.indexOf(file);
                        if (index1 > -1) {
                            this.details.files.splice(index1, 1);
                        }
                        this.isUploading = false;
                    });
            }
        }
    }
</script>


<style>
    label[for=thumbnails] {
        font-size: 5em;
    }

    label[for=thumbnails] input[type=file] {
        display: none;
    }
    div.input.upload-contract {
        display: flex;
        justify-content: center;
        overflow: hidden;
        min-height: 100px;
        height: auto;
        cursor: pointer;
        align-items: center;
        color: #999;
        font-size: 1.2em;
        font-family: monospace;
        flex-direction: column;
        padding: 20px 0;
    }

    div.input.upload-contract input {
        display: none;
    }

    div.input.upload-contract nav {
        width: 100%;
        margin-top: 25px;
        margin-bottom: -25px;
    }

    div.input.upload-contract nav .panel-heading {
        border-radius: 0;
        border-right: 0;
        border-left: 0;
    }

    div.input.upload-contract nav .panel-block {
        border-left: 0;
        border-right: 0;
    }

    div.input.upload-contract nav .panel-block:last-child {
        border-bottom: none;
    }

    span span.button.is-loading {
        background: transparent;
        border: transparent;
        padding: 0 20px;
        margin-top: -10px;
        position: relative;
        top: 5px;
    }
    div.input.upload-contract nav .panel-heading .progress {
        margin-bottom: 8px;
    }

    .modal-background, .modal-content, .modal-card {
        opacity: 0;
        transition: opacity 0.3s ease-in;
    }
    .is-active .modal-background, .is-active .modal-content, .modal-card {
        opacity: 1;
        transition: opacity 0.3s ease-in;
    }

</style>