
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap

figure.dp-image {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  border: 1.5px solid white;
}

figure.dp-image img {
  max-height: none;
}
.navbar-item span.icon {
  justify-content: left;
}

.navbar-item img {
  max-height: 2.5rem;
}

.navbar-item.logo{
  padding-top: 0;
  padding-bottom: 0;
}